* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("32307-city-glam-marburg.jpg");
  overflow: hidden;
  flex-direction: column;

}

main.table {
  background-color: rgba(255, 255, 255, 0.073);
  width: 82vw;
  height: 86vh;
  backdrop-filter: blur(7px);

  overflow: overlay;
}

.logo {
  flex: center;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.267);
  padding: 0.8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: auto;
  overflow: overlay;
}

.table__header .input-group {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.inputgr {
  width: 120px;
  height: 40px;
  padding-left: 2px;
  border: 2px solid #eeb34f;
  border-radius: 4px;
  outline: none;
  background: #e8a228;
  color: #000000;
}

.inputgr:hover {
  transform: scale(1.2);
  box-shadow: 8px 10px 5px 2px rgba(247, 227, 8, 0.342);
}

.search-form_btn {
  position: absolute;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-form_btn:hover {
  transform: scale(1.2);
  box-shadow: 8px 10px 5px 2px rgba(0, 0, 0, 0.648);
}

button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #f9f0da;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 100%, 0.996);
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #ffffffed;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}

.button {
  border-radius: 6px;
    color: white;
    transition: 0.2s linear;
    background: #f7b321;
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.button:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #f7b321;
}
.Document {
  background-color: #c1c178;
  color: #313229;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;

  text-align: center;
  font-size: 1rem;

  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
  border: 1.4px solid #000000;
}

thead th:hover {
  color: #000000;
}

thead th.active span.icon-arrow {
  background-color: #000000;
  color: #000000;
}

thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

thead th.active,
tbody td.active {
  color: #000000;
}


.optional{
    display: flex;
    width: 30vh;
    height: 40px;
    background-color: #ccc541;
    margin-right: 30px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s;
}

.optional:hover {
  background-color: #999435;
  transition: all 0.3s;
}

.container{
    width:1230px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-between;
}

.left-side{
    display: flex;
    flex-direction: row;
}

form {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input[name="submit"] {
  background-color: #ccc541;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s;
}

input[name="key_words"] {
    margin-bottom: 10px;
}

input[name="submit"]:hover {
  background-color: #999435;
  transition: all 0.3s;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

input {
width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;

}

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* фон */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* При отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* Стили заголовка окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* Стили кнопки "х" ("Закрыть")  */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* Стили блока основного содержимого окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}
