<!DOCTYPE html>
<html>
  <head>
    <title>resp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="left-side">
        <div class="optional"><a href="/add_user"> Создать пользователя </a></div>
        <div class="optional"><a href="/add_file"> Создать документ </a></div>

        <div class="optional"><a href="/logout"> Выход </a></div>

      </div>

      <div class="right-side">
        <div class="optional" style="width:10vh; margin-right: 0px;"><a href="#popup"> Опции </a></div>
      </div>
    </div>


    <main class="table">
      <section class="table__body">
        <table>
          <thead>
            <tr>
              <th>№</th>
              <th>Тип</th>
              <th>Название</th>
              <th>Номер</th>
              <th>Дата выхода</th>
              <th>Дата ввода действия</th>
              <th>Документ
              </th>
            </tr>
          </thead>
          <tbody>
            {% for part in data %}
            <tr>
              <td>{{ part[0] }}</td>
              <td>
                {{ part[1] }}
              </td>
              <td>{{ part[2] }}</td>
              <td>{{ part[3] }}</td>
              <td>
                {{ part[4][:10] }}
              </td>
              <td>{{ part[5][:10] }}</td>
              <td><a href="#" class="button" id="button12">{{ part[7] }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>
  </body>

<!-- popup -->
<div id="popup" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Опции</h3>
        <a href="#close" title="Close" class="close">×</a>
      </div>
        <form action="" method="post"  novalidate>
        {{ form.hidden_tag() }}

          {{ form.id.label }}
          {{ form.id(size=32) }}
          {% for error in form.id.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

          {{ form.type.label }}
          {{ form.type }}
          {% for error in form.type.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

          {{ form.name.label }}
          {{ form.name(size=32) }}
          {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

          {{ form.number.label }}
          {{ form.number(size=32) }}
          {% for error in form.number.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

          {{ form.timestamp_added_1.label }}
          {{ form.timestamp_added_1(size=32) }}
          {% for error in form.timestamp_added_1.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

          {{ form.timestamp_added_2.label }}
          {{ form.timestamp_added_2(size=32) }}
          {% for error in form.timestamp_added_2.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

          {{ form.timestamp_accepted_1.label }}
          {{ form.timestamp_accepted_1(size=32) }}
          {% for error in form.timestamp_accepted_1.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

          {{ form.timestamp_accepted_2.label }}
          {{ form.timestamp_accepted_2(size=32) }}
          {% for error in form.timestamp_accepted_2.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

          {{ form.key_words.label }}
          {{ form.key_words(size=32) }}
          {% for error in form.key_words.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}




          {{ form.submit() }}
      </form>
    </div>
  </div>
</div>

</html>
